@font-face {
   font-family: 'Open Sans Bold';
   src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
   font-family: 'Open Sans Light';
   src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
   font-family: 'Open Sans Regular';
   src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
   font-family: 'Open Sans Semibold';
   src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
   font-family: 'Georgia Pro';
   src: url('../fonts/GeorgiaPro-Regular.ttf'); /* Ensure you have the correct path and file name */
}

@font-face {
   font-family: 'Cralika';
   src: url('../fonts/Cralika.ttf'); /* Ensure you have the correct path and file name */
}

@font-face {
   font-family: 'Billy Stranger';
   src: url('../fonts/Billy\ Stranger\ dafont.ttf.ttf'); /* Ensure you have the correct path and file name */
}
